// These colors are specific to the theme. Do not use in a package!

@very-light-gray: #c5c8c6;
@light-gray: #969896;
@gray: #373b41;
@dark-gray: #282a2e;
@very-dark-gray: #1d1f21;

// @cyan: #ad39fb;
// @cyan: #DDDDDD;
@cyan: @blue;
// @cyan: darken(#f17cd1, 10%);
// @blue: #32CDCA;
@blue: #4EA5B7;
@purple: #AB486D;
@green: #67B05B;
@red: #DB4B63;
// @orange: #E0935C;
@orange: #DB7231;
@light-orange: #ED6832;


@eevee-brown: rgb(66, 47, 31);
